.dokan-follow-store-button .dokan-follow-store-button-label-unfollow {
  display: none;
}
.dokan-follow-store-button[data-status="following"]:hover .dokan-follow-store-button-label-current {
  display: none;
}
.dokan-follow-store-button[data-status="following"]:hover .dokan-follow-store-button-label-unfollow {
  display: inline-block;
}
.dokan-follow-store-button.dokan-follow-store-button-working {
  position: relative;
  color: rgba(255, 255, 255, 0);
}
.dokan-follow-store-button.dokan-follow-store-button-working:hover,
.dokan-follow-store-button.dokan-follow-store-button-working:active,
.dokan-follow-store-button.dokan-follow-store-button-working:focus {
  color: rgba(255, 255, 255, 0);
}
.dokan-follow-store-button.dokan-follow-store-button-working:after {
  content: "\f110";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: calc(40%);
  left: 50%;
  color: #fff;
  font-size: 20px;
  margin-left: -17px;
  margin-top: 0;
  animation: fa-spin 1s infinite steps(8);
  width: 30px;
}
.dokan-follow-store-button.dokan-follow-store-button-working.dokan-btn-sm:after {
  font-size: 16px;
  margin-left: -15px;
  margin-top: 5px;
}
.dokan-follow-store-button.dokan-follow-store-button-working > span {
  opacity: 0;
}
.dokan-single-store .dokan-store-tabs ul li.dokan-store-follow-store-button-container {
  margin: 3px 5px 0 0;
}
