.white-popup.dokan-seller-rating-add-wrapper {
    padding: 30px;
}
#dokan-seller-rating{
    padding: 10px 0px;   
}
.dokan-seller-rating-intro-text{
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
}