#dokan-geolocation-locations-map {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}
#dokan-geolocation-locations-map.dokan-geolocation-locations-map-top {
  height: 300px;
}
.dokan-geo-map-info-window {
  width: 265px;
}
.dokan-geo-map-info-window .info-title {
  margin: 0 0 7px;
}
.dokan-geo-map-info-window .info-title a {
  font-size: 17px;
  font-weight: 500;
}
.dokan-geo-map-info-window address {
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  margin: 0;
  line-height: 1.3;
}
.dokan-geo-map-info-window .info-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.white-popup.dokan-geo-map-info-windows-in-popup {
  padding: 30px 30px 12px;
  max-width: 480px;
}
.white-popup.dokan-geo-map-info-windows-in-popup .dokan-geo-map-info-window {
  width: 100%;
  margin-bottom: 18px;
}
.white-popup.dokan-geo-map-info-windows-in-popup .dokan-geo-map-info-window .info-title {
  margin-bottom: 10px;
  line-height: 0.8;
}
.white-popup.dokan-geo-map-info-windows-in-popup .dokan-geo-map-info-window .info-image {
  float: right;
  max-width: 70%;
}
