/* css for timepicker */
#ui-datepicker-div { z-index: 100000 !important; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

i.finished{color: #de9e0c;}
i.fail{color: #d54e21;}
i.payed {color: #21759b;}
i.order {color: transparent;-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08); border:1px solid #cccccc; padding:0.3em}


.product-edit-new-container .auction_relist_section .dokan-w3 {
    width: 31%;
    margin-right: 15px;
}

.product-edit-new-container .auction_relist_section .dokan-w3 input {
    margin-right: 15px;
    width: 100%;
}

.product-edit-new-container .auction_relist_section .dokan-w3:last-child,
.product-edit-new-container .auction_relist_section .dokan-w3 input:last-child {
    margin-right: 0px;
}

.product-edit-new-container {
    margin-bottom: 20px;
}

