/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 11:10:34 AM
    Author     : rafsun
*/

.dokan-profile-completeness .dokan-alert {
    margin-bottom: 0;
}

.dokan-settings-content {

    .dokan-settings-area {

        .dokan-seo-image {
            position: relative;

            .dokan-remove-gravatar-image {
                position:absolute;
                width:150px;
                height:150px;
                background:#000;
                top:0;
                left: 0;
                opacity:.7;
                font-size:70px;
                text-align: center;
                color:#f00;
                padding-top:35px;
                display:none;
                border-radius: 0%;
            }

            .gravatar-wrap {
                .dokan-gravatar-img {
                    border-radius: 0%;
                    height: 150px !important;
                    width: 150px;
                }
            }

            &:hover {
                .dokan-remove-gravatar-image {
                    display: block;
                }
            }

        }
    }
}

